<li class="span3">
  <div class="thumbnail">
    <figure>
      <%= filepicker_image_tag elg_order.menu.dishes.first.photos.first.url, w: 275, h: 275, fit: 'clip' %>
      <figcaption class="top">
        <h6><%= elg_order.menu.name %></h6>
      </figcaption>
      <figcaption class="bottom">
        <h6><%= elg_order.user.name %></h6>
      </figcaption>
    </figure>
    <div class="thumbnail-label">
      <p><%= link_to elg_order.menu.name, elg_order %> for <%= elg_order.user.name %></p>
      <p><%= link_to "Create New Counter Order", new_original_order_counter_order_url(elg_order) %></p>
    </div>
  </div>
</li>
