<li class="span3">
  <div class="thumbnail">
    <figure>
      <%= filepicker_image_tag order.menu.dishes.first.photos.first.url, w: 275, h: 275, fit: 'clip' %>
      <figcaption class="top">
        <h6><%= order.menu.name %></h6>
      </figcaption>
      <figcaption class="bottom">
        <h6><%= order.user.name %></h6>
      </figcaption>
    </figure>
    <div class="thumbnail-label">
      <p><%= link_to order.menu.name, order %></p>
      <p><%= link_to "Edit", edit_original_order_url(order) %></p>
      <p><%= link_to "Destroy", original_order_url(order), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>
</li>
