<script type="text/javascript">
$(function() {
	$(".alert-info").bind("closed", function(e) {
		alert("closed");
		$.ajax({
			url: "/users/" + <%= current_user.id %> + "/notifications/" + e.currentTarget.children[0].getAttribute("data-id") + ".json",
			type: "PUT",
			data: {notification: {exited_out: true}},
			success: function (data) {
				console.log(data);
			},
			error: function (req, textStatus) {
				console.log(textStatus);
			}
		})
	});

	$('#calendar').fullCalendar()
	//
	// title: "you have to make " + # + "dishes today." green
	// title: "you will receive " + # + "dishes today." red

})
</script>

<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<h2> My notifications </h2>
	<% @user.notifications.newly_listed.each do |msg| %>
		<div class="alert-info">
			<button type="button" data-id="<%= msg.id %>" class="close" data-dismiss="alert">&times;</button>
			<%= msg.content %>
		</div>
	<% end %>

	<h3> My Schedule </h3>

	<div id="calendar"></div>

<h3>My Dishes (<%= link_to "Create New Dish", new_dish_url %>)</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "my_dishes",
	collection: @user.dishes, as: :dish,
	layout: "thumbnails"
	) || "You have not created any dishes yet." %>
	</ul>

<h3>My In Progress Orders (<%= link_to "Create New Order", new_original_order_url %>)</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "in_progress_orders",
	collection: @user.original_orders.in_progress, as: :order,
	layout: "thumbnails"
	) || "You have no in progress orders yet." %>
	</ul>

<h3>EatLoCo Orders for Me</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "eligible_orders",
	collection: @user.eligible_orders, as: :elg_order,
	layout: "thumbnails"
	) || "You have no eligible orders yet." %>
	</ul>

	<h3>My Counter Orders</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "counter_orders",
	collection: @user.counter_orders.in_progress, as: :counter_order,
	layout: "thumbnails"
	) || "You have no counter orders yet." %>
	</ul>

	<h3>Food I Will Receive</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "successful_orders",
	collection: @user.successful_orders, as: :successful_order,
	layout: "thumbnails"
	) || "You have no sucessful that are arriving yet." %>
	</ul>

	<h3>Food I Must Make</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "won_orders",
	collection: @user.won_orders, as: :won_order,
	layout: "thumbnails"
	) || "You have no won orders yet." %>
	</ul>

	<h3>Failed Orders</h3>
	<ul class="thumbnails">
		<%= render(
	partial: "failed_orders",
	collection: @user.failed_orders.includes(:menu), as: :fail_order,
	layout: "thumbnails"
	) || "You have no failed orders yet." %>
	</ul>

	<h3>Lost Orders</h3>
	<ul class="thumbnails">
	<%= render(
	partial: "lost_orders",
	collection: @user.lost_orders, as: :lost_order,
	layout: "thumbnails"
	) || "You have no lost orders yet." %>
	</ul>


