<p id="notice"><%= notice %></p>

<%= @dish.name %>
<% @dish.photos.each do |photo| %>
	<%= filepicker_image_tag photo.url, w: 160, h: 160, fit: 'clip' %>
<% end %>

<br>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
